@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
}

:root {
  --contrast: #fff;
}

html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  /* overflow-y: scroll; */
  scroll-padding-top: 60px;
}

body {
  display: flex;
  flex-direction: column;
}

/* .hero,
.scroll-container,
.about_doctor,
.articles,
.footer,
#main-container,
.header,
.scroll-container-mobile,
.articles-mobile,
.about_doctor_tabVersion {
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */

/* Navigation */

.navbar {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-sticky {
  opacity: 0.8;
}

.sticky-top {
  position: sticky;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.logo-img {
  margin: 1rem;
  padding-left: 1.25rem;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

li a {
  text-decoration: none;
  font-weight: bolder;
  padding-right: 2.5rem;
  font-size: 1.5rem;
  color: #fff;
}

/* toggle bar */

.hamberger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 1.875rem;
  height: 0.125rem;
  margin: 0.313rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #000;
}

/* hero section */

#hero {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.slideshow-container {
  position: relative;
  z-index: 0;
  margin-top: -10rem;
  transition: all 2s ease-in-out;
  max-width: 100%;
  overflow: hidden;
  animation: fade 12s infinite;
}

.mySlides {
  display: none;
  transition: opacity 1s ease-in-out; /* Smooth fade transition */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  margin-top: 10rem;
}

.hero-text h1 {
  font-size: 13rem;
}

.hero-text p {
  font-size: 3.125rem;
  margin-top: -2rem;
}

/* About Us */

.about-us {
  margin: 4rem;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.main-heading {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.main-heading h1 {
  font-size: 11rem;
  line-height: 1;
}

.main-heading h5 {
  margin-top: 1rem;
  font-size: 4rem;
  line-height: 0.9;
}

.main-heading p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-scroll {
  width: 30%;
  margin: 20px;
}
.sidebar {
  width: 20%;
  margin: 20px;
}
.main-scroll div {
  width: 200px;
  height: 250px;
  background: linear-gradient(45deg, #292928 0%, #313030 60%);
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 0rem;
}
.sidebar .content-wrapper div {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  background: linear-gradient(45deg, #292928 0%, #313030 60%);
  margin-bottom: 20px;
}
